<form method="POST" action="/students">
<label for="first_name">First Name: </label>
<input type="text"
id="first_name"
name="first_name"/>

<label for="last_name">Last Name: </label>
<input type="text"
id="last_name"
name="last_name" />

<label for="age">Age: </label>
<input type="number"
id="age"
name="age" />

<label for="house">Select house: </label>
<select
id="house-select"
name="house">

 <% @houses.each do |house| %>
<option value=<%=house.name%>><%=house.name%></option>
<%end%>



<input type="submit" value="Expecto Studentus" />


</form>